$color-orange-50: #fff6ed;
$color-orange-300: #ffdbc6;
$color-orange-400: #ffb589;
$color-orange-600: #fe6b13;

$color-gray-50: #f9fafb;
$color-gray-100: #f2f4f7;
$color-gray-200: #eaecf0;
$color-gray-300: #d0d5dd;
$color-gray-400: #98a2b3;
$color-gray-500: #667085;
$color-gray-700: #344054;
$color-black: #101828;

$color-green-light: #ecfdf3;
$color-green: #12b76a;
$color-green-dark: #027a48;

$color-blue-light: #eff8ff;
$color-blue: #2e90fa;
$color-blue-dark: #175cd3;

$color-indigo-light: #eef4ff;
$color-indigo: #3538cd;

$color-red: #f04438;
$color-red-dark: #c4320a;

$color-link: #6941c6;
$color-yellow: #fedf89;
$color-white: white;
