/* Font Sizes */
$font-size-1: 1.5rem;
$font-size-2: 1.125rem;
$font-size-3: 1rem;
$font-size-4: 0.875rem; //14px
$font-size-5: 0.75rem; //12px

/* Widths */
$drawerWidth: 300px;

$width-desktop: 1400px;
$width-tablet: 1000px;
$width-mobile: 560px;

/* Heights */
$headerHeight: 64px;

/* Border Radius */
$border-radius: 8px;
