@import "../../../assets/scss/bundle.scss";

.recovery-password {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__text {
    font-size: 16px;
  }
  a {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  @include AuthButton;
  .MuiButton-contained {
    margin-bottom: 8px;
  }
}
