@import "../../../../../assets/scss/bundle.scss";

.new-password-form {
  margin-top: 15px;
  .error {
    color: $color-red;
    margin-left: 20px;
  }
  .success {
    color: $color-green;
    margin-left: 20px;
  }
  &__rules {
    margin-top: 20px;
  }
  span {
    @include Typography($font-size-5, 400, $color-gray-700);
    line-height: 18px;
  }
  ul {
    margin-top: 10px;
  }
  li {
    margin-left: 20px;
  }

  .MuiTextField-root {
    margin-top: 8px;
    @include DesktopLarge {
      margin-top: 10px;
    }
  }

  @include AuthButton;
}
